<nav class="container mx-auto flex items-center justify-between">
    <div>
        <p class="font-bold text-3xl">Twitter</p>
    </div>
    <div>
        <ul class="flex items-center justify-between">
            <li class="ml-5 font-bold text-xl"><a href="/register">Sign In</a></li>
            <li class="ml-5 font-bold text-xl"><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>